In [1]:
import pandas as pd

file_path = "C:/Users/eguen/Downloads/electricity.csv"
df = pd.read_csv(file_path)

df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class
0,0.0,b'2',0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,b'UP'
1,0.0,b'2',0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,b'UP'
2,0.0,b'2',0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,b'UP'
3,0.0,b'2',0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,b'UP'
4,0.0,b'2',0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,b'DOWN'

In [3]:
df['day'] = df['day'].str.replace("b'", "").str.replace("'", "").astype(int)

In [4]:
df.head

<bound method NDFrame.head of          date  day    period  nswprice  nswdemand  vicprice  vicdemand  \
0      0.0000    2  0.000000  0.056443   0.439155  0.003467   0.422915
1      0.0000    2  0.021277  0.051699   0.415055  0.003467   0.422915
2      0.0000    2  0.042553  0.051489   0.385004  0.003467   0.422915
3      0.0000    2  0.063830  0.045485   0.314639  0.003467   0.422915
4      0.0000    2  0.085106  0.042482   0.251116  0.003467   0.422915
...       ...  ...       ...       ...        ...       ...        ...
45307  0.9158    7  0.914894  0.044224   0.340672  0.003033   0.255049
45308  0.9158    7  0.936170  0.044884   0.355549  0.003072   0.241326
45309  0.9158    7  0.957447  0.043593   0.340970  0.002983   0.247799
45310  0.9158    7  0.978723  0.066651   0.329366  0.004630   0.345417
45311  0.9158    7  1.000000  0.050679   0.288753  0.003542   0.355256

       transfer    class
0      0.414912    b'UP'
1      0.414912    b'UP'
2      0.414912    b'UP'
3      0.414912    b'UP'
4      0.414912  b'DOWN'
...         ...      ...
45307  0.405263  b'DOWN'
45308  0.420614  b'DOWN'
45309  0.362281  b'DOWN'
45310  0.206579    b'UP'
45311  0.231140  b'DOWN'

[45312 rows x 9 columns]>

In [5]:
df['hour'] = (df['period'] * 24).round().astype(int)
df['minute'] = ((df['period'] * 24 * 60) % 60).round().astype(int)
df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class,hour,minute
0,0.0,2,0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,b'UP',0,0
1,0.0,2,0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,b'UP',1,31
2,0.0,2,0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,b'UP',1,1
3,0.0,2,0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,b'UP',2,32
4,0.0,2,0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,b'DOWN',2,3

In [6]:


df['date'] = pd.date_range(start='2020-01-01', periods=len(df), freq='D')
df['timestamp'] = df['date'] + pd.to_timedelta(df['hour'], unit='h')

In [7]:
df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class,hour,minute,timestamp
0,2020-01-01,2,0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,b'UP',0,0,2020-01-01 00:00:00
1,2020-01-02,2,0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,b'UP',1,31,2020-01-02 01:00:00
2,2020-01-03,2,0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,b'UP',1,1,2020-01-03 01:00:00
3,2020-01-04,2,0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,b'UP',2,32,2020-01-04 02:00:00
4,2020-01-05,2,0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,b'DOWN',2,3,2020-01-05 02:00:00

In [8]:
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['day_of_week'] = df['timestamp'].dt.dayofweek
df['is_weekend'] = df['day_of_week'].isin([5,6]).astype(int)
df['hour'] = df['timestamp'].dt.hour
df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class,hour,minute,timestamp,year,month,day_of_week,is_weekend
0,2020-01-01,2,0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,b'UP',0,0,2020-01-01 00:00:00,2020,1,2,0
1,2020-01-02,2,0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,b'UP',1,31,2020-01-02 01:00:00,2020,1,3,0
2,2020-01-03,2,0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,b'UP',1,1,2020-01-03 01:00:00,2020,1,4,0
3,2020-01-04,2,0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,b'UP',2,32,2020-01-04 02:00:00,2020,1,5,1
4,2020-01-05,2,0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,b'DOWN',2,3,2020-01-05 02:00:00,2020,1,6,1

In [10]:
df['class'] = df['class'].str.replace("b'", "").str.replace("'", "")
df['class_label'] = df['class'].map({'UP': 1, 'DOWN': 0})

In [11]:
# NSW
df['nswdemand_lag_1'] = df['nswdemand'].shift(1)
df['nswdemand_lag_24'] = df['nswdemand'].shift(24)

df['nswprice_lag_1'] = df['nswprice'].shift(1)
df['nswprice_lag_24'] = df['nswprice'].shift(24)

# VIC
df['vicdemand_lag_1'] = df['vicdemand'].shift(1)
df['vicdemand_lag_24'] = df['vicdemand'].shift(24)

df['vicprice_lag_1'] = df['vicprice'].shift(1)
df['vicprice_lag_24'] = df['vicprice'].shift(24)

In [12]:
df['nswdemand_roll_3'] = df['nswdemand'].rolling(3).mean()
df['nswdemand_roll_24'] = df['nswdemand'].rolling(24).mean()

df['vicdemand_roll_3'] = df['vicdemand'].rolling(3).mean()
df['vicdemand_roll_24'] = df['vicdemand'].rolling(24).mean()

df['nswprice_roll_3'] = df['nswprice'].rolling(3).mean()
df['nswprice_roll_24'] = df['nswprice'].rolling(24).mean()

In [13]:
df['nsw_price_demand_ratio'] = df['nswprice'] / (df['nswdemand'] + 1e-6)
df['vic_price_demand_ratio'] = df['vicprice'] / (df['vicdemand'] + 1e-6)

df['price_spread'] = df['nswprice'] - df['vicprice']
df['demand_spread'] = df['nswdemand'] - df['vicdemand']

In [14]:
import numpy as np

df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24)

df['dow_sin'] = np.sin(2 * np.pi * df['day_of_week'] / 7)
df['dow_cos'] = np.cos(2 * np.pi * df['day_of_week'] / 7)

In [15]:
df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class,hour,...,nswprice_roll_3,nswprice_roll_24,nsw_price_demand_ratio,vic_price_demand_ratio,price_spread,demand_spread,hour_sin,hour_cos,dow_sin,dow_cos
0,2020-01-01,2,0.000000,0.056443,0.439155,0.003467,0.422915,0.414912,UP,0,...,NaN,NaN,0.128526,0.008198,0.052976,0.016240,0.000000,1.000000,0.974928,-0.222521
1,2020-01-02,2,0.021277,0.051699,0.415055,0.003467,0.422915,0.414912,UP,1,...,NaN,NaN,0.124559,0.008198,0.048232,-0.007860,0.258819,0.965926,0.433884,-0.900969
2,2020-01-03,2,0.042553,0.051489,0.385004,0.003467,0.422915,0.414912,UP,1,...,0.053210,NaN,0.133736,0.008198,0.048022,-0.037911,0.258819,0.965926,-0.433884,-0.900969
3,2020-01-04,2,0.063830,0.045485,0.314639,0.003467,0.422915,0.414912,UP,2,...,0.049558,NaN,0.144562,0.008198,0.042018,-0.108276,0.500000,0.866025,-0.974928,-0.222521
4,2020-01-05,2,0.085106,0.042482,0.251116,0.003467,0.422915,0.414912,DOWN,2,...,0.046485,NaN,0.169172,0.008198,0.039015,-0.171799,0.500000,0.866025,-0.781831,0.623490

In [16]:
df['transfer_abs'] = df['transfer'].abs()
df['transfer_direction'] = (df['transfer'] > 0).astype(int)

In [17]:
df = df.dropna().reset_index(drop=True)

In [18]:
df.head()

,date,day,period,nswprice,nswdemand,vicprice,vicdemand,transfer,class,hour,...,nsw_price_demand_ratio,vic_price_demand_ratio,price_spread,demand_spread,hour_sin,hour_cos,dow_sin,dow_cos,transfer_abs,transfer_direction
0,2020-01-25,2,0.510638,0.044374,0.505356,0.003467,0.422915,0.414912,UP,12,...,0.087807,0.008198,0.040907,0.082441,1.224647e-16,-1.000000,-0.974928,-0.222521,0.414912,1
1,2020-01-26,2,0.531915,0.044374,0.497917,0.003467,0.422915,0.414912,UP,13,...,0.089119,0.008198,0.040907,0.075002,-2.588190e-01,-0.965926,-0.781831,0.623490,0.414912,1
2,2020-01-27,2,0.553191,0.042482,0.499554,0.003467,0.422915,0.414912,DOWN,13,...,0.085040,0.008198,0.039015,0.076639,-2.588190e-01,-0.965926,0.000000,1.000000,0.414912,1
3,2020-01-28,2,0.574468,0.044374,0.491669,0.003467,0.422915,0.414912,UP,14,...,0.090252,0.008198,0.040907,0.068754,-5.000000e-01,-0.866025,0.781831,0.623490,0.414912,1
4,2020-01-29,2,0.595745,0.044374,0.489735,0.003467,0.422915,0.414912,UP,14,...,0.090608,0.008198,0.040907,0.066820,-5.000000e-01,-0.866025,0.974928,-0.222521,0.414912,1

In [19]:
df.to_csv("C:/Users/eguen/Downloads/electricity_engineered.csv", index=False)