In [1]:
import pandas as pd

# Use forward slashes for cross_platform compatibility

df = pd.read_csv("C:/Users/eguen/Downloads/StudentsPerformance.csv")

# Preview the data

print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [2]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [4]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [5]:
# Preview structure of the data

print(df.shape)

(1000, 8)

In [6]:
print(df.columns)

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [7]:
print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [8]:
# clean column names: lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [9]:
# strip whitespace and lowercase for consistency

cal_cols = ['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

for col in cal_cols:
    df[col] = df[col].str.strip().str.lower()

In [10]:
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group b,bachelor's degree,standard,none,72,72,74
1,female,group c,some college,standard,completed,69,90,88
2,female,group b,master's degree,standard,none,90,95,93
3,male,group a,associate's degree,free/reduced,none,47,57,44
4,male,group c,some college,standard,none,76,78,75

In [12]:
# average scores

df['average_score'] = df[['math_score', 'reading_score', 'writing_score']].mean(axis=1)

In [13]:
print(df.columns.tolist())

['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score', 'average_score']

In [14]:
# score gap max-min

df['score_gap'] = df[['math_score', 'reading_score', 'writing_score']].max(axis=1) - \
                df[['math_score', 'reading_score', 'writing_score']].min(axis=1)

In [15]:
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,score_gap
0,female,group b,bachelor's degree,standard,none,72,72,74,72.666667,2
1,female,group c,some college,standard,completed,69,90,88,82.333333,21
2,female,group b,master's degree,standard,none,90,95,93,92.666667,5
3,male,group a,associate's degree,free/reduced,none,47,57,44,49.333333,13
4,male,group c,some college,standard,none,76,78,75,76.333333,3

In [16]:
# Prep Effectiveness Flag
# Flag students who completed the test preparation course and have an average score above 70 on average

df['prep_effectiveness'] = ((df['test_preparation_course'] == 'completed') & (df['average_score'] > 70)).astype(int)

In [17]:
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,score_gap,prep_effectiveness
0,female,group b,bachelor's degree,standard,none,72,72,74,72.666667,2,0
1,female,group c,some college,standard,completed,69,90,88,82.333333,21,1
2,female,group b,master's degree,standard,none,90,95,93,92.666667,5,0
3,male,group a,associate's degree,free/reduced,none,47,57,44,49.333333,13,0
4,male,group c,some college,standard,none,76,78,75,76.333333,3,0

In [18]:
# Categorize performance

def categorize(score):
    if score >= 90:
        return 'excellent'
    elif score >= 75:
        return 'good'
    elif score >= 60:
        return 'average'
    else:
        return 'needs improvement'
    
df['performance_category'] = df['average_score'].apply(categorize)

In [19]:
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,score_gap,prep_effectiveness,performance_category
0,female,group b,bachelor's degree,standard,none,72,72,74,72.666667,2,0,average
1,female,group c,some college,standard,completed,69,90,88,82.333333,21,1,good
2,female,group b,master's degree,standard,none,90,95,93,92.666667,5,0,excellent
3,male,group a,associate's degree,free/reduced,none,47,57,44,49.333333,13,0,needs improvement
4,male,group c,some college,standard,none,76,78,75,76.333333,3,0,good

In [20]:
df.shape

(1000, 12)

In [21]:
df.columns

Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score', 'average_score', 'score_gap', 'prep_effectiveness',
       'performance_category'],
      dtype='object')

In [22]:
df.columns.tolist()

['gender',
 'race/ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score',
 'average_score',
 'score_gap',
 'prep_effectiveness',
 'performance_category']

In [23]:
print(df.columns.tolist())

['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score', 'average_score', 'score_gap', 'prep_effectiveness', 'performance_category']

In [24]:
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,score_gap,prep_effectiveness,performance_category
0,female,group b,bachelor's degree,standard,none,72,72,74,72.666667,2,0,average
1,female,group c,some college,standard,completed,69,90,88,82.333333,21,1,good
2,female,group b,master's degree,standard,none,90,95,93,92.666667,5,0,excellent
3,male,group a,associate's degree,free/reduced,none,47,57,44,49.333333,13,0,needs improvement
4,male,group c,some college,standard,none,76,78,75,76.333333,3,0,good

In [25]:
df.to_csv("C:/Users/eguen/Downloads/StudentsPerformance_Enhanced.csv", index=False)

In [27]:
df.head(10)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score,score_gap,prep_effectiveness,performance_category
0,female,group b,bachelor's degree,standard,none,72,72,74,72.666667,2,0,average
1,female,group c,some college,standard,completed,69,90,88,82.333333,21,1,good
2,female,group b,master's degree,standard,none,90,95,93,92.666667,5,0,excellent
3,male,group a,associate's degree,free/reduced,none,47,57,44,49.333333,13,0,needs improvement
4,male,group c,some college,standard,none,76,78,75,76.333333,3,0,good
5,female,group b,associate's degree,standard,none,71,83,78,77.333333,12,0,good
6,female,group b,some college,standard,completed,88,95,92,91.666667,7,1,excellent
7,male,group b,some college,free/reduced,none,40,43,39,40.666667,4,0,needs improvement
8,male,group d,high school,free/reduced,completed,64,64,67,65.000000,3,0,average
9,female,group b,high school,free/reduced,none,38,60,50,49.333333,22,0,needs improvement